<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Web information-->
	  <add key="ApplicationProtocol" value="https" />
	  <add key="ApplicationDomain" value="pipeline-dev45" />
	  <add key="ApplicationRoot" value="sstsandbox.com/develop/Dashboard" />
		 <!--/Dashboard" />-->
    <add key="BrowserTarget" value="chrome" />
	<add key="MaximizeBrowser" value="false" />
	<add key="BrowserWidth" value="1920" />
	<add key="BrowserHeight" value="1080" />  
    <add key="SaveImageAsBase64" value="false" />
    <!--Acount information-->
    <add key="UserName" value="sstpipelineautomation@gmail.com" />
    <add key="Password" value="3990SSTauto" />
    <!--Testing information-->
    <add key="BuildCounter" value="" />
    <add key="IsAutoLogin" value="false" />
    <add key="CaptureEachStep" value="true" />
    <!--Increase this value if you're testing a slow connection-->
    <add key="PageloadTimeouts" value="590" />
    <add key="dbNameVersion" value="202230" />
    <!--Report Saving location-->
    <add key="ReportSaveLocation" value="C:\AutomationReport" />
    <add key="BaselineFilesDir" value="C:\AutomationReport\Pipeline Baseline Export Files for Comparison" />
    <!--Report Server - Server name: 105QA-w764-11 -->
    <!--<add key="MongoDBServer" value="10.105.0.215" />
    <add key="KlovServer" value="http://10.105.0.215:5689" 
    <add key="MongoDBServer" value="localhost" />
    <add key="KlovServer" value="http://localhost:5689" />-->
  </appSettings>
  <!--Connection to sql server and query the data-->
  <connectionStrings>
    <add name="MainConnectionString" connectionString="data source=10.193.34.110\SQLEXPRESS2008; Initial Catalog=pipeline_dev; User Id=pcms; Password=1[cgvisions;" providerName="system.data.sqlclient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
